{% extends "FnxAdminBundle::layout_simples.html.twig" %}

{% block title %}Login{% endblock %}
{% block conteudo %}
    <div id="box-login">
	{% if error %}
	<div class="error">{{ error.message }}</div>
	{% endif %}
	<form action="{{ path('_security_check_a') }}" method="POST" class="cms">
	<div class="myform" id="form_login">
	    <h1 class="title">Área Administrativa</h1><br>
	    <div>
		<label for="username">Username:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}"><br>
	    </div>
	    <div>
		<label for="password">Password:</label>
		<input type="password" id="password" name="_password" /><br><br>
	    </div>
		<input style="margin-left:10%;" type="checkbox" id="remember_me" name="_remember_me" checked>
		<label for="remember_me">&nbsp;Lembrar</label><br>
       <div class="myform">
	   <input style="margin-left:38%;" type="submit" name="login" value="Acessar">
	</form>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    h1.title{
	font-variant:small-caps;
	letter-spacing: 1px;
	text-align: center;
    }

    #form_login{
	width: 400px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
	background: #ccc;
	border-radius: 14px;
	padding: 15px 50px;
	border: 7px solid #777;
    }
</style>
{% endblock %}