

{% block conteudo %}
<div id="box-form">
    
    <form novalidate="" id="form" action="{{ path('funcionarioUserSenha', {"id" : funcionario.usuario.id, 'idFuncionario' : funcionario.id})}}" method="post" class="cms ajaxForm">
            
            <fieldset>
                <legend>Usuário</legend>

                <!-- Campos repitidos deve ser rendenrizados
                     apenas com form_widget-->
                <div class="repeats">
                    <div> 
                    {{ form_widget(form.password)}}
                    </div>
                </div>

            </fieldset>

            {{ form_rest(form)}}

        <input type="button" onclick="ajaxSubmit()"value="Submit"/>
    </form>
    
</div>
{% endblock %}