<div class="box-form-dialog" style="padding-bottom: 60px;">
    <form novalidate="" id="form" action="{{ path('funcionarioSalarioEdit', { 'pagamentoId' : pagamentoId})}}" method="post" class="cms ajaxFormTable">
    <div class="myform">
                <div>
                    <label>Acrescentar:</label>
                    <input type="text" value="0" name="valor" class="moeda zero" style="width: 41%">
                </div>
    </div>
            <input class="close" type="button" onclick="dialogClose()" value="Fechar"/>
            <input type="submit" value="Submit"/>
    </form>
</div>

