{% extends "FnxAdminBundle::layout.html.twig" %}
{% block title %} {{ cliente.nome }} {% endblock %}
{% block menuContent %}
    <div id="menuContent">
        <h3>Cliente : {{ cliente.nome }}</h3>
        <ul>
            <li style="margin-right: 30px;"><a class="respo-link" href="{{ path('funcionarioAddUser', {'id' : cliente.id})}}"><span style="margin-left: 20px;"></span>Responsável</a></li>
            <li><a class="back-link" href="{{ path('clienteHome')}}"><span></span>Voltar</a></li>
        </ul> 
    </div>
{% endblock %}