{% include "FnxAdminBundle:Atividade:informacoes.html.twig" %}
<div class="tabs">
    <ul>
        <li><a href="#tabs-2">Propriedade</a></li>
        <li><a href="#tabs-3">Galeria</a></li>
        <li><a href="#tabs-4">Pagamento</a></li>
    </ul>

    <div id="tabs-2">
      {% include "FnxAdminBundle:Propriedade:table.html.twig" %}
    </div>

    <div id="tabs-3" style="padding: 0px;">
      {% render 'FnxAdminBundle:Galeria:show' with {'id' : atividade.id} %}
    </div>

    <div id="tabs-4" style="padding: 0px;">
        <div class="box-form-ajax">
        {% if (atividade.registro == null) %}
            {% render 'FnxFinanceiroBundle:Pagamento:new' with {'id' : atividade.id} %}
        {% else %}
            {% render 'FnxFinanceiroBundle:Pagamento:edit' with {'id' : atividade.id} %}
        {% endif%}
        </div>
    </div>


</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".gallery").galleryView();
});
</script>