*{margin: 0; padding: 0; color: #444;}

body{
    background-color: #F0F0F0;
    min-height: 100%;
}

div#toolbar{
    height: 40px;
    background-color: #222;
    padding: 10px;
}

div#toolbar a.logo{
    font-size: xx-large;
    margin: 20px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}

div#toolbar > div{
    float: right;
    margin-right: 15px;
}

div#toolbar > div > a{
    float: left;
    color: #FFF;
    text-decoration: underline;
    font-weight: bold;
    margin: auto 10px;
    font-size: large;
    font-variant: small-caps;
    letter-spacing: 1px;
    height: 20px;
}

div#toolbar > div div.image{
    width: 24px;
    height: 24px;
    float: left;
    margin: 3px;
}

div#toolbar span{
    float: left;
    margin: 5px;
    color: #FFF;
}

div#menu{
    width: 15%;
    height: 100%;
    font-size: medium;
    color: #FFF;
    background-color: #CCC;
    float: left;
}

div#menu.inactive{
    width: 3%;
}

#button_disable_menu{
    margin: 5px;
    border: 1px solid;
    border-bottom-style: inset;
    border-radius: 2px;
    float: right;
    width: 20px;
    height: 20px;
}

div#menu.inactive #button_disable_menu{
    margin: 5px 10px;
}

div#menu h1{
    font-size: large;
    margin: 4px;
    color: #333;
    padding-top: 4px;
    padding-left: 11px;
    font-variant: small-caps;
    letter-spacing: 3px;
}

div#menu.inactive h1{
    display: none;
}

div#menu > ul > li{
    padding: 7% 5%;
    color: #444;
    border-top: 1px solid #AAA;
    vertical-align: middle;
    background-color: #CCC;
    font-size: large;
    clear: both;
}

div#menu.inactive > ul > li a{
    display: block;
}

div#menu.inactive > ul > li div.image{
    margin: 15%;
}

div#menu > ul{
    padding-right: 4px;
}

div#menu li{
    display: block;
    cursor: pointer;
}

div#menu > ul > li > a{
    display: block;
    color: #444;
}

div#menu > ul > li a:hover span,
div#menu > ul > li a.hover span{
    text-decoration: underline;
}

div#menu > ul > li.active > span,
div#menu > ul > li a:hover > span,
div#menu > ul > li a.hover > span{
    color: #FFF;
}

div#menu.inactive a span{
    display: none;
}

div#menu div.image{
    width: 20px;
    height: 20px;
    float: left;
}

div#menu > ul > li ul{
    display: none;
    visibility: hidden;
    border-top: 1px;
    border-top-style: outset;
    margin: -11px;
    margin-top: 11px;
    padding: 0;
}

div#menu > ul > li.active ul{
    display: block;
    visibility: visible;
}

div#menu li li{
    background-color: #999;
    margin-left: 0;
    padding: 8px 11px;
}

div#menu li.active li a,
div#menu li.active li a{
    text-decoration: none;
}

div#menu li.active li:hover a,
div#menu li.active li.hover a{
    color: #FFF;
    text-decoration: underline;
}

div#menu span.vertical-center{
    display: block;
    height: 18px;
    float: left;
    margin-left: 5px;
}

div#menu #layout-calendar{
    width: 60px;
    overflow: inherit;
}

div#menu.inactive #layout-calendar{
    display: none;
}

div.gsa{
    width: 85%;
}

div#menu.inactive + div.gsa{
    width: 97%;
}

div#fast_menu{
    padding: 10px;
    background: #CCC;
}

div#fast_menu.inactive #content_fast_menu{
    display: none;
}

#button_fast-menu_disable{
    border: 1px solid;
    border-radius: 2px;
    float: left;
    width: 24px;
    height: 24px;
}

div#fast_menu h1{
    color: #3b3b3b;
    font-size: large;
    font-variant: small-caps;
    letter-spacing: 2px;
    float: left;
    height: 20px;
    padding: 4px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 0;
}

div#fast_menu li{
    list-style: none;
    width: 85px;
    background-color: #d8d8d8;
    float: left;
    margin: 10px;
    padding-bottom: 7px;
    text-align: center;
}

div#fast_menu li a{
    color: #3b3b3b;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

div#fast_menu li:hover a{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

div#fast_menu div.image{
    margin: 8px auto;
    width: 64px;
    height: 64px;
}

#fast_menu + #hr_sep{
    height: 4px;
}

#fast_menu.inactive + #hr_sep{
    display: none;
}

div#conteudo{
    background-color: #F0F0F0;
    padding: 2%;
}
#all{
    min-height: 584px;
}
div#footer{

    height: 30px;
    background-color: #949494;
    width: 100%;
    text-align: center;

    border-top: 2px solid #333;
    clear: both;
}

.vertical-center{
    height: 100%;
    vertical-align: middle;
    letter-spacing: 2px;
}

/* Tabelas */

#menuContext{
    display: none;
}

.dataTables_wrapper{
    margin: 15px 0;
    clear: both;
}

.dataTables_wrapper table{
    clear: both;
}

table.data{
    border-collapse: collapse;
    width: 100%;
    box-shadow:        0 0 6px 2px #BFBFBF;
    -moz-box-shadow:   0 0 6px 2px #BFBFBF;
    -webkit-box-shadow: 0 0 6px 2px #BFBFBF;
}

.filter_table{
    padding: 5px 8px;
}

table.data th,
table.data td{
    border: 1px solid #CCC;
    padding: 3px 5px;
}

.DTTT_container{
    margin-bottom: 5px !important;
}

table.data th{
    border: 1px solid #bdbdbd !important;
    border-top: 0 !important;
    background-color: #FFF !important;
}

table.data tr.odd{
    background-color: #f5f5f5  !important;
}

table.data tr.even{
    background-color: #FcFcFc  !important;
}

table.data tbody tr:hover,
table.data tbody tr.over{
    background-color: #EEE !important;
}

table.data tbody tr.row_selected{
    background-color: #DDD !important;
}

.dataTables_paginate,
.dataTables_info{
    padding: 5px;
}

.table_length,
.table_paginate,
.table_info{
    margin-top: 1%;
    width: 33%;
    text-align: center;
}

.table_length > div,
.table_paginate > div,
.table_info > div{
    margin: auto;

}

.table_paginate > div{
    text-align: right;
}

.dataTables_paginate .paginate_button,
.dataTables_paginate > span{

    padding: 0 6px;
    border: 1px solid #C7C7C7;
    background: #ddd;
    cursor: pointer;
}

.dataTables_paginate .paginate_button.first{
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

.dataTables_paginate .paginate_button.last{
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

.dataTables_filter{
    width: 400px !important;
}


/*      formularios       */

form{
    line-height: 32px;
}

form > div{
    margin-bottom: 3px;
    clear: both;
}

fieldset{
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #333;
    margin: 15px 0;
}

fieldset legend{
    font-variant: small-caps;
    padding: 0 6px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

form label,
form .label{
    height: 24px;
    line-height: 100%;
}

form input,
form .input,
.inputStyle{
    height: 18px;
}

form input,
.inputStyle,
select,
textarea{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: inset 1px 1px 2px #ccc;
    -moz-box-shadow: inset 1px 1px 2px #ccc;
    -ms-box-shadow: inset 1px 1px 2px #ccc;
    -o-box-shadow: inset 1px 1px 2px #ccc;
    box-shadow: inset 1px 1px 2px #ccc;

    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
    background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
    background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

form input[readonly],
form .input[readonly],
select[readonly],
textarea[readonly]{
    background: #4d4;
}

form input[readonly].hasDatepicker,
form .input[readonly].hasDatepicker{
    background: #fff;
}

form input,
.inputStyle,
form select,
form textarea{
    float: left;
}

form input,
.inputStyle,
form textarea{
    padding: 3px 8px;
    border: 1px solid #c7c7c7;
    outline-color: #4682b4;
}

form label{
    padding: 3px 8px;
}

form input[type=checkbox] + label,
form input[type=radio] + label{
    padding: 0;
}

dataTables_wrapper input{
    border: 1px solid #c7c7c7;
    outline-color: #4682b4;
    padding: 3px 8px;
}

form ul + label + input,
form ul + label + select,
form ul + label + textarea{
    border-color: red;
}

form ul + label + input.alterado,
form ul + label + select.alterado,
form ul + label + textarea.alterado{
    border-color: #c7c7c7;
}

form input:focus,
form input.focus,
.inputStyle,
select,
form textarea{
    border-color: #c7c7c7;
    outline-color: #4682b4;
}

form input[type=radio],
form input[type=checkbox]{
    clear: both;
    height: auto;
    background-color: #000;
    outline-color: blue;
    float: left;
    margin: 0 3px;
    border-radius: 0;
    border: 1px groove blue;
}

form input[type=submit],
form input[type=reset]{
    height: 24px;
    border-radius: 4px;
    color: #222;
    margin: 10px auto;
    padding: 4px 10px;
    line-height: 100%;
    -webkit-box-shadow: outset 1px 1px 2px #ccc;
    -moz-box-shadow: outset 1px 1px 2px #ccc;
    -ms-box-shadow: outset 1px 1px 2px #ccc;
    -o-box-shadow: outset 1px 1px 2px #ccc;
    box-shadow: outset 1px 1px 2px #ccc;
}

select{
    max-width: 250px;
    line-height: 100%;
    padding-left: 5px;
    height: 2em;
    border: 1px solid #c7c7c7;
    outline-color: #4682b4;
}

textarea{
    min-height: 72px;
    min-width: 260px;
}

form label,
form .label,
.labelStyle{
    display: block;
    width: 100px;
    float: left;
}


/*  jquery-ui  */

.ui-widget-content{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 3px;
}

.ui-panel-content{
    padding: 7px 6px;
}

.ui-panel-title{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    margin: -3px;
    margin-bottom: 7px;
}

/*     GERAL     */

hr {background-color: #CCC; border: none; height: 1px; clear: both;}

.hidden{
    display: none;
}

div.image{
    border: 1px solid;
    border-radius: 2px;
}

hr.clear{clear: both; visibility: hidden; height: 0;}

.fleft{ float: left !important; }
.fright{ float: right !important; }
.clear{ clear: both; }

/*     TABLE TOOLS     */

/*
 * File:        TableTools.css
 * Description: Styles for TableTools 2
 * Author:      Allan Jardine (www.sprymedia.co.uk)
 * Language:    Javascript
 * License:     GPL v2 / 3 point BSD
 * Project:     DataTables
 *
 * Copyright 2009-2012 Allan Jardine, all rights reserved.
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * CSS name space:
 *   DTTT                  DataTables TableTools
 *
 * Style sheet provides:
 *   CONTAINER             TableTools container element and styles applying to all components
 *   BUTTON_STYLES         Action specific button styles
 *   SELECTING             Row selection styles
 *   COLLECTIONS           Drop down list (collection) styles
 *   PRINTING              Print display styles
 */


/*
 * CONTAINER
 * TableTools container element and styles applying to all components
 */
div.DTTT_container {
	position: relative;
	float: right;
	margin-bottom: 1em;
}

button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
	position: relative;
	float: left;
	margin-right: 3px;
	padding: 5px 8px;
	border: 1px solid #999;
	cursor: pointer;
	font-size: 0.88em;
	color: black !important;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;

	-webkit-box-shadow: 1px 1px 3px #ccc;
	   -moz-box-shadow: 1px 1px 3px #ccc;
	    -ms-box-shadow: 1px 1px 3px #ccc;
	     -o-box-shadow: 1px 1px 3px #ccc;
	        box-shadow: 1px 1px 3px #ccc;

	/* Generated by http://www.colorzilla.com/gradient-editor/ */
	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(
	    startColorstr='#ffffff',
	    endColorstr='#f9f9f9',
	    GradientType=0 ); /* IE6-9 */
}


/* Buttons are cunning border-box sizing - we can't just use that for A and DIV due to IE6/7 */
button.DTTT_button {
	height: 30px;
	padding: 3px 8px;
}

.DTTT_button embed {
	outline: none;
}

button.DTTT_button:hover,
div.DTTT_button:hover,
a.DTTT_button:hover {
	border: 1px solid #666;
	text-decoration: none !important;

	-webkit-box-shadow: 1px 1px 3px #999;
	   -moz-box-shadow: 1px 1px 3px #999;
	    -ms-box-shadow: 1px 1px 3px #999;
	     -o-box-shadow: 1px 1px 3px #999;
	        box-shadow: 1px 1px 3px #999;

	background: #f3f3f3; /* Old browsers */
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(
	    startColorstr='#f3f3f3',
	    endColorstr='#f4f4f4',
	    GradientType=0 ); /* IE6-9 */
}

button.DTTT_disabled,
div.DTTT_disabled,
a.DTTT_disabled {
	color: #999;
	border: 1px solid #d0d0d0;

	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(
	    startColorstr='#ffffff',
	    endColorstr='#fafafa',
	    GradientType=0 ); /* IE6-9 */
}



/*
 * BUTTON_STYLES
 * Action specific button styles
 * If you want images - comment this back in

button.DTTT_button_csv,
button.DTTT_button_xls,
button.DTTT_button_copy,
button.DTTT_button_pdf,
button.DTTT_button_print {
	padding-right: 0px;
}

button.DTTT_button_csv span,
button.DTTT_button_xls span,
button.DTTT_button_copy span,
button.DTTT_button_pdf span,
button.DTTT_button_print span {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding-right: 30px;
}


button.DTTT_button_csv span { background: url(../images/csv.png) no-repeat bottom right; }
button.DTTT_button_csv:hover span { background: url(../images/csv_hover.png) no-repeat center right; }

button.DTTT_button_xls span { background: url(../images/xls.png) no-repeat center right; }
button.DTTT_button_xls:hover span { background: #f0f0f0 url(../images/xls_hover.png) no-repeat center right; }

button.DTTT_button_copy span { background: url(../images/copy.png) no-repeat center right; }
button.DTTT_button_copy:hover span { background: #f0f0f0 url(../images/copy_hover.png) no-repeat center right; }

button.DTTT_button_pdf span { background: url(../images/pdf.png) no-repeat center right; }
button.DTTT_button_pdf:hover span { background: #f0f0f0 url(../images/pdf_hover.png) no-repeat center right; }

button.DTTT_button_print span { background: url(../images/print.png) no-repeat center right; }
button.DTTT_button_print:hover span { background: #f0f0f0 url(../images/print_hover.png) no-repeat center right; }

 */

button.DTTT_button_collection span {
	padding-right: 17px;
	background: url(../images/collection.png) no-repeat center right;
}

button.DTTT_button_collection:hover span {
	padding-right: 17px;
	background: #f0f0f0 url(../images/collection_hover.png) no-repeat center right;
}


/*
 * SELECTING
 * Row selection styles
 */
table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
}

table.dataTable tr.DTTT_selected.odd {
	background-color: #9FAFD1;
}

table.dataTable tr.DTTT_selected.odd td.sorting_1 {
	background-color: #9FAFD1;
}

table.dataTable tr.DTTT_selected.odd td.sorting_2 {
	background-color: #9FAFD1;
}

table.dataTable tr.DTTT_selected.odd td.sorting_3 {
	background-color: #9FAFD1;
}


table.dataTable tr.DTTT_selected.even {
	background-color: #B0BED9;
}

table.dataTable tr.DTTT_selected.even td.sorting_1 {
	background-color: #B0BED9;
}

table.dataTable tr.DTTT_selected.even td.sorting_2 {
	background-color: #B0BED9;
}

table.dataTable tr.DTTT_selected.even td.sorting_3 {
	background-color: #B0BED9;
}


/*
 * COLLECTIONS
 * Drop down list (collection) styles
 */

div.DTTT_collection {
	width: 150px;
	padding: 8px 8px 4px 8px;
	border: 1px solid #ccc;
	border: 1px solid rgba( 0, 0, 0, 0.4 );
	background-color: #f3f3f3;
	background-color: rgba( 255, 255, 255, 0.3 );
	overflow: hidden;
	z-index: 2002;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;

	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	    -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	     -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

div.DTTT_collection_background {
	background: transparent url(../images/background.png) repeat top left;
	z-index: 2001;
}

div.DTTT_collection button.DTTT_button,
div.DTTT_collection div.DTTT_button,
div.DTTT_collection a.DTTT_button {
	position: relative;
	left: 0;
	right: 0;

	display: block;
	float: none;
	margin-bottom: 4px;

	-webkit-box-shadow: 1px 1px 3px #999;
	   -moz-box-shadow: 1px 1px 3px #999;
	    -ms-box-shadow: 1px 1px 3px #999;
	     -o-box-shadow: 1px 1px 3px #999;
	        box-shadow: 1px 1px 3px #999;
}


/*
 * PRINTING
 * Print display styles
 */

.DTTT_print_info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	color: #333;
	padding: 10px 30px;

	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(
	    startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

	opacity: 0.95;

	border: 1px solid black;
	border: 1px solid rgba(0, 0, 0, 0.5);

	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
	        border-radius: 6px;

	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	    -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	     -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}