{% extends "FnxAdminBundle::layout.html.twig" %}
{% block _menuContent %}
    <div id="menuContent" class="shadow">
        {% block menuContent %}{% endblock %}
	<br class="clear">
    </div>
{% endblock %}